.color-range{
    width:98%; 
    margin-top:8px;
}

.left-column{
    margin-top:5px;
    width: auto;
}

.input-rgb{
    background-color: white;
    text-align:  center;
    margin:0% 17% 0% 17%;
}

.color-info-disp{
    margin-top: 10px;
}

.color-disp-box{
    width: auto;
    height:100vh;
}
