#color-value{
    margin-top:50px;
}

.color-range{
    width:90%; 
    margin-top:10px;
}

.left-column{
    margin-top:10px;
    width: auto;
}

.input-rgb{
    background-color: white;
    text-align:  center;
    margin:0% 5% 0% 5%;
}

.color-info-disp{
    margin-top: 80px;
}

.color-disp-box{
    width: auto;
    height:100vh;
}
