<!DOCTYPE html>
<html lang="ja">
    <head>
        <meta charset="UTF-8">
        <title>coloradjust</title>
        <link rel="stylesheet" href="css/style.css">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">

        <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
        <script src="js/main.js"></script>

    </head>
    
    <body>
        <div id="app">
            <div v-bind:style="{backgroundColor:mixColor}">
                <div class="input-rgb">
                    <div class="left-column">
                        <p style="color:red"><b><font size="6">RED</font></p>
                        <font size="6"><input style="text-align:center" type="number" v-model="Red" min="0" max="255"></font><br>
                        <input class="color-range" type="range" v-model="Red"   min="0" max="255">

                        <p class="color-info-disp" style="color:green"><b><font size="6">GREEN</font></p>
                        <font size="6"><input style="text-align:center" type="number" v-model="Green"  min="0" max="255"></font><br>
                        <input class="color-range" type="range" v-model="Green" min="0" max="255">

                        <p class="color-info-disp" style="color:blue"><b><font size="6">BLUE</font></p>
                        <font size="6"><input style="text-align:center" type="number"  v-model="Blue" min="0" max="255"></font><br>
                        <input class="color-range" type="range" v-model="Blue"  min="0" max="255">
                        
                        <p id="color-check" >{{ ValidValueCheck }}</p>

                        <div class="color-disp-box"  v-bind:style="{backgroundColor:mixColor}">
                            <p>  </p>
                        </div>                    
                    </div>
                </div>
            </div>
        </div>        
    </body>

</html>

